{% extends "base_generic.html" %}

{% block content %}
  <h3 style="text-align: center;">Список сотрудников</h3>

  {% for worker in worker_list %}
    
      <div class="worker_list"> 
        <p>Ф.И.О. :<br>
        {{ worker.FIO }}</p>
         {% load static %}
        <img src="{{ worker.photo.url }}" width="250" height="250">
        <p>Возраст: {{ worker.age }}</p>
        <p>Опыт работы: {{ worker.post }}</p>
        <p>Отдел:{% for dep in worker.Departament.all %} {{ dep }} {% endfor %}</p>
      </div>
    
  {% endfor %}

{% endblock %}